.main-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: $headings-font-family;

  li {
    position: relative;

    &:hover {

      > ul {

        visibility: visible;
        opacity: 1;
        transform: translateY(0);

      }

    }
  }

  a {
    text-decoration: none;
    display: block;
    color: inherit;
  }

  ul {
    position: absolute;
    list-style-type: none;
    padding: 6px 0;
    margin: 0;
    background-color: rgba($black, 0.7);
    color: $white;
    min-width: 150px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    @include transition(all 0.2s);
    z-index: 10;

    a {
      padding: 7px 20px;
      white-space: nowrap;

      &:hover {
        background-color: rgba($black, 0.8);
      }

    }

  }

  > li {

    > a {
      padding: 10px 0;
      font-size: $h5-font-size;
    }

    &:not(:last-child) {
      margin-right: 60px;
    }

    > ul {
      top: 100%;
      left: 0;
    }

  }

  .menu-item-has-children {

    > a {
      &:after {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        display: var(--fa-display,inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
        content: "\f0d7";
        font-size: $font-size-sm;
        margin-left: 10px;
      }
    }

  }

}